
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    
    max-width: 400px; 
    margin: 2rem auto;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  form input,
  form select,
  form button {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  form input:focus,
  form select:focus {
    outline: none;
    border-color: #405851;
  }
  
  form button {
    background: #405851;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    padding-left: 30px;
  }
  
  form button:hover {
    background: #333;
  }
  
  form label {
    font-size: 0.9rem;
    color: #555;
    margin-top: 1rem;
  }
  
  .input-group {
    display: flex;
    gap: 0.5rem; 
    width: 100%;
  }
  
  .check {
    display: block;
    align-items: center; 
    gap: 0.5rem; 
    margin-top: 1rem;
    padding-left: 45px;
  }